version: "3.9"

x-common: &common
  env_file: .env
  restart: on-failure       # reinicia si falla
  networks: [ingest_net]

services:
  ms1_ingest:
    <<: *common
    build:
      context: .
      dockerfile: ingestion/ms1/Dockerfile
    volumes:
      - ./ingestion/data/ms1:/app/data

  ms2_ingest:               # â† mismo nivel que ms1_ingest
    <<: *common
    build:
      context: .
      dockerfile: ingestion/ms2/Dockerfile
    volumes:
      - ./ingestion/data/ms2:/app/data

  ms3_ingest:
    <<: *common
    build:
      context: .
      dockerfile: ingestion/ms3/Dockerfile
    volumes:
      - ./ingestion/data/ms3:/app/data

networks:
  ingest_net:
    driver: bridge
